<nav class="navbar navbar-expand-lg custom-header justify-content-between">
  <ul class="navbar-nav ">
    <a class="navbar-brand text-white" routerLink="/home" routerLinkActive="active">Home</a>
    <li class="nav-item active" *ngIf="isLogged()">
      <a class="nav-link text-white" routerLink="/add-events" routerLinkActive="active">Add events</a>
    </li>
    <li class="nav-item active" *ngIf="isLogged()">
      <a class="nav-link text-white" routerLink="/board-list" routerLinkActive="active">Boards</a>
    </li>
  </ul>
  <ul class="navbar-nav mr-3">
    <li *ngIf="isLogged()" class="nav-item" >
      <a class="nav-link text-white" (click)="logout()" routerLinkActive="active" style="cursor: pointer">Logout</a>
    </li>
    <li *ngIf="!isLogged()" class="nav-item">
      <a class="nav-link text-white" routerLink="/sign-up" routerLinkActive="active">Register</a>
    </li>
    <li *ngIf="!isLogged()" class="nav-item">
      <a class="nav-link text-white" routerLink="/login" routerLinkActive="active">Login</a>
    </li>

  </ul>

</nav>
